body {
	background-image: url(Rainy_weather_background.jpg); alt: "rainy weather";
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:top-right;
}

.nav_bar {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: rgba(51,51,51,0.7);
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	font-family: 'Indie Flower', cursive;
	height:57px;
}

.nav_bar li {
	float:left;
}

.nav_bar li a {
	display:inline-block;
	color: white;
	text-align:center;
	padding: 10px 40px;
	text-decoration:none;
	font-size:25px;
}

.nav_bar li a:hover {
	background: rgba(128,128,128,0.7);
	color: #fff;
	-webkit-transition: all .2s linear;
}

.nav_bar li a.active {
	background-color:rgba(128,128,128,0.7);
}

div#title_text {
	text-align: center;
	font-family: 'Syncopate', sans-serif;
	font-size: 50px;
	padding: 150px 50px 50px 50px;
	color: white;
	background-color: none;
	text-shadow: 2px 2px rgba(128,128,128,0.7);
}

div#footer {
	color: white;
	width:100%;
	height:30px;
	position:relative;
	font-size:10px;
	font-family: 'Architects Daughter', cursive;
}

#container {
	min-height:100%;
	position:relative;
}

#header {
	text-align:center;
	font-size:50px;
	font-family: 'Architects Daughter', cursive;
	color:white;
	text-shadow: 2px 2px rgba(128,128,128,0.7);
	margin-top: 100px;
	border-radius:5px;
}

.bodytext {
	text-align:center;
	color:white;
	font-family: 'Poiret One', cursive;
	display:block;
	font-size:15px;
	margin:30px;
	background-color:rgba(128,128,128,0.7);
	border-radius: 5px;
	padding:10px;
}


#ProfilePicture {
	float:left;
	height:350px;
	width:350px;
	padding:0px 20px;
}


